:root{
  /* variables */
  --page-bg: #101c28; 
  --text-color: cyan;
  --ellip-bg:#101c28;
  --circle-bg:tomato;
  --ellip-border: #faebd1;
}

body {
  background-color: var(--page-bg);
  z-index: 0;
  overflow:hidden;
}

h1{
    position: absolute;
    width: 450px;
    height: 40px;
    left: 0px;
    top: 100px;
    font-family: ITC Korinna;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 69px;
    display: flex;
    align-items: center;
    text-align: right;
    
    color: var(--text-color);
    
}

hr{

    position: absolute;
width: 190px;
height: 0px;
left: 60px;
top: 200px;

border: 2px solid var(--text-color);

}

#para1{

    position: absolute;
width: 314px;
height: 314px;
left: 1093px;
top: -150px;

font-family: ITC Korinna;
font-style: normal;
font-weight: 300;
font-size: 140px;
line-height: 300px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#para2{

position: absolute;
width: 314px;
height: 314px;
left: 1125px;
top: 325px;

font-family: ITC Korinna;
font-style: normal;
font-weight: 300;
font-size: 140px;
line-height: 300px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

#para3{

    position: absolute;
    width: 314px;
    height: 314px;
    left: 600px;
    top: -25px;
    
    font-family: ITC Korinna;
    font-style: normal;
    font-weight: 300;
    font-size: 140px;
    line-height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index:1;
    color: #FFFFFF;
}

.Div1 {
    position: absolute;
width: 1020px;
height: 380px;
left: 280px;
top: 200px;
border-radius: 50%;

background: var(--ellip-bg);
opacity: 0.5;
border: 2.5px solid var(--ellip-border);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(-36.41deg);
overflow: hidden;
animation: move1 5.5s infinite alternate-reverse linear;
z-index: 2;

  }

  .Div2 {
    
    position: absolute;
width: 1020px;
height: 380px;
left: 260px;
top: 200px;
border-radius: 50%;

background: var(--ellip-bg);
opacity: 0.5;
border: 2.5px solid var(--ellip-border);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(30deg);
overflow: hidden;

animation: move2 4.5s infinite alternate-reverse ease;
  }
 
  @keyframes move1{
    0%{
      transform: rotate(-36.41deg) translate(30px,-30px);
    }
    100%{
      transform: rotate(-46.41deg) translate(0,0);
    }
  }
  @keyframes move2{
    0%{
      transform: rotate(30deg) translate(30px,-30px);
    }
    100%{
      transform: rotate(30deg) translate(0px,0px);
    }
  }

  .circle1{

    position: absolute;
width: 140px;
height: 140px;
left: 900px;
top: 120px;
border-radius: 50%;

background: #C4C4C4;

  }

  .circle2{

    position: absolute;
width: 140px;
height: 140px;
left: 970px;
top: 534px;
border-radius: 50%;
z-index:-1;
background: #C4C4C4;
   
}

.circle3{

    position: absolute;
width: 140px;
height: 140px;
left: 640px;
top: 350px;
border-radius: 50%;

background: #C4C4C4;
  
}
.circle1{
  animation: move2 3.5s infinite alternate-reverse linear;

} 
.circle3{
  animation: move1 3.5s infinite alternate-reverse linear;
}
.circle2{
  animation: move2 3.5s infinite alternate-reverse linear;
}
.circle{
  cursor: pointer;
  z-index: 3;
  transition:300ms;
display:flex;
justify-content: center;
align-items: center;
transform-origin: 50% 50%;
text-transform: capitalize;
font-size:medium;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
padding: 6px;
text-align: center;
font-weight: bold;
}
.circle:hover{
  color: #fff;
   background-color: var(--circle-bg);
  font-size:medium;
  width: 160px;
  height:160px;
  opacity: 0.75;
}

