$card-holder-bg:#262626;
$tri-size:80px;
$card-click-size:72px;
$card-click-bg:cyan;
$card-width:320px;

.card-holder {
    width: 100%;
    background: $card-holder-bg;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    color: #fff;
    padding: 20px;
    margin: auto;
    left: 0;
    right: 0;
    flex-wrap: wrap;

    a {
        text-decoration: none;
        color: #fff;
        border: none;
        outline: none;
    }
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: tomato;
    padding: 20px;
    overflow: hidden;
    width: $card-width;
    height: 150px;
    margin: 10px;

    img {
        width: 150px;
        position: absolute;
        transform-origin: 50% 50%;
        transform: translate(-200px, -20px);
    }

    marquee {
        font-size: 60px;
        font-weight: bolder;
        opacity: 0.2;
        text-transform: uppercase;
        filter: blur(1px);
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: $tri-size solid transparent;
        border-bottom-color: $card-holder-bg;
        transform: rotate(-45deg);
        opacity: 1;
        z-index: 2;
        margin-right: $card-width;
        margin-top: -150px;
    }

    &::after {
        border-width: $card-click-size;
        border-bottom-color: $card-click-bg;
    }

}