.page {
    height: 80vh;
    width: 100vw;
    background: hsla(248, 21%, 15%, 1);

    background: linear-gradient(45deg, hsla(248, 21%, 15%, 1) 27%, hsla(251, 85%, 76%, 1) 98%, hsla(250, 14%, 61%, 1) 100%, hsla(249, 10%, 49%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(248, 21%, 15%, 1) 27%, hsla(251, 85%, 76%, 1) 98%, hsla(250, 14%, 61%, 1) 100%, hsla(249, 10%, 49%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(248, 21%, 15%, 1) 27%, hsla(251, 85%, 76%, 1) 98%, hsla(250, 14%, 61%, 1) 100%, hsla(249, 10%, 49%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#211F2F", endColorstr="#A28FF6", GradientType=1);


}