.page {
    height: 60%;
    width: 100%;
    overflow-x: hidden;
    background: #262c2f;
    color: #fff;
    padding: 10px;
    padding-left: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include mobile {
        height: 100%;
        justify-content: flex-start;
        padding-bottom: 100px;
        padding-top: 320px;
    }

    h1 {
        margin: 20px 0;
        word-spacing: 4px;
        font-size: 55px;
    }

    p {
        margin-bottom: 20px;
        font-size: 1rem;
    }

    button {
        outline: none;
        padding: 10px 40px;
        color: #fff;
        border: none;
        margin: 20px 0;
        background: #8A2387;
        background: linear-gradient(60deg, #F27121, #E94057, #8A2387);
        text-transform: uppercase;
        font-size: medium;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(.9);
        }
    }

}