.page {
    height: 56%;
    width: 100%;
    overflow-x: hidden;
    background: #262c2f;
    color: #fff;
    padding: 10px;
    padding-left: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(40,40,40)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
        background-size: 16px;
    }

    @include mobile {
        height: auto;
        justify-content: flex-start;
        padding-top: 400px;
        padding-bottom: 50px;
    }

    h1 {
        margin: 20px 0;
        word-spacing: 4px;
        font-size: 55px;
    }

    p {
        margin-bottom: 20px;
        font-size: 1rem;
    }

    button {
        outline: none;
        padding: 10px 40px;
        color: #fff;
        border: none;
        margin: 20px 0;
        background: #8A2387;
        background: linear-gradient(60deg, #F27121, #E94057, #8A2387);
        text-transform: uppercase;
        font-size: medium;
        cursor: pointer;

        &:active {
            transform: scale(.9);
        }
    }

    .pulse:hover,
    .pulse:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em rgba(#fff, 0);
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 #E94057;
        }
    }

}