@import "./card", "./page";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    overflow-x: hidden;
}

.gif-circle {
    overflow: hidden;
    margin-top: 10px;
}

.home-img {
    transform: scale(.8);
}