 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 $mobile: 770px;

 @mixin mobile {
     @media (max-width: #{$mobile}) {
         @content;
     }
 }

 body {
     width: 100vw;
     height: 100vh;
     background-color: #efefef;
 }

 .contact-us-container {
     width: 100%;
     height: 60%;
     max-height: 440px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     color: #fff;
     font-family: 'Montserrat', sans-serif;
     background-color: #1C1C1C;
     position: relative;
     bottom: 0;
     left: 0;
     overflow: hidden;

     @include mobile {
         position: relative;
         height: auto;
         max-height: none;
         flex-direction: column-reverse;
     }

     iframe {
         @include mobile {
             display: none;
         }
     }
 }

 .map-copyright {
     height: 100%;
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     width: 25%;

     iframe {
         width: 250px;
         height: 250px;
     }

     p {
         text-align: center;
         padding: 10px;
     }

     @include mobile {
         width: 100%;
     }
 }

 .details-social {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     width: 30%;

     @include mobile {
         width: 100%;
     }

     .details {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: flex-start;

         .icon-data {
             display: flex;
             flex-direction: row;
             justify-content: space-around;
             align-items: center;

             @include mobile {
                 font-size: medium;
                 flex-direction: column;
                 width: 100%;
             }

             img {
                 width: 40px;
                 margin: 10px;
                 margin-right: 20px;

                 @include mobile {
                     width: 30px;
                 }
             }

             .data {
                 text-align: left;
                 width: 100%;

                 @include mobile {
                     text-align: center;
                     padding: 10px;
                 }
             }
         }
     }

     .socials {
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         align-items: center;

         svg {
             width: 40px;
             margin: 10px;
             transition: 300ms;

             @include mobile {
                 width: 30px;
             }

             &:hover {
                 transform: translateY(-5px);
             }



             path {
                 width: 10px;

                 &:hover {
                     fill: cyan;
                 }
             }
         }

         @include mobile {
             padding: 20px;
         }
     }
 }

 .contact-container {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     text-align: center;
     padding: 10px;

     h1 {
         margin: 2px;

         span {
             color: cyan;
         }
     }
 }

 #contact-form {
     width: 100%;
     max-width: 350px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     background-color: #363636;
     padding: 20px 15px;
     border-radius: 4px;
     justify-content: flex-start;
     margin-top: 4px;

     @include mobile {
         margin: 20px 0;
     }

     .inp-holder {
         width: 88%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: flex-start;

         @include mobile {
             width: 95%;
         }

         label {
             margin-bottom: 3px;
             font-size: large;

             &::after {
                 content: '*';
                 color: tomato;
             }
         }

         input,
         textarea {
             width: 100%;
             margin-bottom: 10px;
             background-color: transparent;
             outline: none;
             border: #53504E 2px solid;
             border-radius: 6px;
             padding: 10px 14px;
             color: #fff;
             font-family: 'Montserrat', sans-serif;
             font-size: medium;

             &::placeholder {
                 color: gray;
             }
         }

         textarea {
             resize: none;
             height: 100px;

             @include mobile {
                 height: 150px;
             }
         }
     }

     button {
         outline: none;
         border: none;
         border-radius: 4px;
         cursor: pointer;
         background-color: #1399B7;
         padding: 8px 16px;
         color: #fff;
         font-size: large;
         text-transform: capitalize;
         margin-top: 5px;

         &:hover {
             transform: scale(.98);
         }

         &:active {
             transform: scale(.9);
         }
     }
 }